/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import '../../library/theme/styles/index.css';

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}
